body {
    background-color: blanchedalmond;
}

#tempInput {
width: 400px;
height: 15px
}

#tempOutput {
    width: 400px;
    height: 100px
}

.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color:blue;
}